body{
    font-family: 'Balsamiq Sans', cursive;
    background: linear-gradient(to bottom, rgb(226, 85, 196), white)
}
.nav-item a:hover{
background-color: black;
}
.contenido1{
    max-width: 500px;
}

.imagen1{
    height: 600px;
    width: 100%;
    border-radius: 5px;
    border: double 8px black;
    box-shadow: 10px 10px 10px black;
}
.imagenes__productos{
    border-radius: 5px;
    border: double 5px black;
    box-shadow: 8px 8px 8px 8px black;
}
